<thead> 
  <td>Date</td>
  <td>Opponent</td>
  <td>Win</td>
  <td>Tower</td>
  <td>Dragon</td>
  <td>Baron</td>
  <td>First Blood</td>
  <td>Points</td>
</thead>
<tbody>
  <% team.statlines.each do |line| %>
    <tr>
      <td><%= line.date.to_s(:date) %></td>
      <td><%= line.opponent.name %></td>
      <td><%= line.win %></td>
      <td><%= line.tower %></td>
      <td><%= line.dragon %></td>
      <td><%= line.baron %></td>
      <td><%= line.first_blood %></td>
      <td><%= line.points %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td><%= team.season_totals[0].total_win %></td>
    <td><%= team.season_totals[0].total_tower %></td>
    <td><%= team.season_totals[0].total_dragon %></td>
    <td><%= team.season_totals[0].total_baron %></td>
    <td><%= team.season_totals[0].total_first_blood %></td>
    <td><%= team.season_totals[0].total_points %></td>
  </tr>
</tbody>
