<h1>FLCS Points</h1>

<div class="row">
  <% @positions.each do |label, pos| %>
    <% tier = 0 %>
    <div class="col-md-5 col-sm-6 col-xs-12">
      <h3><%= label %></h3>
      <table class="table table-hover ">
        <thead>
          <td>Name</td>
          <td>Points / gm</td>
          <td>Variance (AAD)</td>
        </thead>
        <tbody>
	      <% pos.each do |player| %>
	          <tr class="tier-<%= player.tier %>" >
	            <td><%= link_to player.name, 'player/' + player.id.to_s %></td>
	            <td><%= player.season_totals[0].ppg.to_s(:rounded, precision: 2, strip_insignificant_zeros: true) %></td>
	            <td><%= player.season_totals[0].variance.to_s(:rounded, precision: 2, strip_insignificant_zeros: true)%></td>
	          </tr>
	      <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  <% end %>
</div>
